.dropbtn {
    background-color:white;
    color: #212121;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-family: 'Noto Serif KR', serif;
    }

    .dropdown {
    position: relative;
    display: inline-block;
    width:160px;
    }

    .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }

    .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Noto Serif KR', serif;
    }

    .dropdown-content a:hover {background-color: white;}

    .dropdown:hover .dropdown-content {display: block;}

    .dropdown:hover .dropbtn {background-color: #F8F9FA; width: 160px}
    

    .area_lnb a[data-lnb="home"]{width:80px; min-width:inherit; padding:0px; background:white url(../image/icon_home.svg) no-repeat 50% 50%; background-size:23px 22px; border-right-width:0px; text-indent:100%; overflow:hidden; white-space:nowrap; transition:all 0.3s ease 0s;}
    .area_lnb a[data-lnb="home"]:before,
    .area_lnb a[data-lnb="home"]:after{display:none;}
    .area_lnb a[data-lnb="back"]{width:80px; min-width:inherit; padding:0px; background:white url(../image/back.png) no-repeat 50% 50%; background-size:23px 22px; border-right-width:0px; text-indent:100%; overflow:hidden; white-space:nowrap; transition:all 0.3s ease 0s;}
    .area_lnb a[data-lnb="back"]:before,
    .area_lnb a[data-lnb="back"]:after{display:none;}